{{>head}}
<body>
  <div class="con">
    <nav class="navbar navbar-dark bg-primary">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">
          <img src="/static/img/logo.png" alt="" width="30" height="24" class="d-inline-block align-text-top">
          Players
        </a>
      </div>
    </nav>
  </div>

    


